@charset "utf-8";
$staticTest: url(../images/test.png); 
@charset "utf-8";
$staticTest: url(../images/test.png); 
@charset "utf-8";
$staticTest: url(../images/test.png); 
@charset "utf-8";
$staticTest: url(../images/test.png); 
